.app_pink_theme {
    --bg-color: #d2068d;
    --inverted-bg-color: #2df972;
    --primary-color: #fbf4f8;
    --secondary-color: #7f05a8;
    --inverted-primary-color: #040b07;
    --inverted-secondary-color: #80fa57;
}
